@tailwind base;
@tailwind components;
@tailwind utilities;

plugins: [require("daisyui")],

/* Add cursor pointer to buttons by default - this is coming from tailwind docs */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
